<!DOCTYPE html>
<html>
<head>
    
    <title>Validate Phone Number</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" initial-scale=1>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <style type="text/css">
      .mov{
        color: #060708;
    font-family: initial;
      }
      .mov1{
        color: rgb(207, 145, 58);
      }
      body{
       background-image: url("https://img.freepik.com/free-photo/pier-lake-hallstatt-austria_181624-44201.jpg?w=996&t=st=1695751789~exp=1695752389~hmac=60c621063cb31a733eff6d8d7ff36a6d15c7ab4f88d6bccbf371b80266a0092f");
       background-repeat: no-repeat;
       background-size: cover;
       }
    </style>
</head>
<body>

    <div class="container mt-4" style="box-shadow: 0 2px 10px white; height: 600px;width: 400px; background-color: white; border-radius:25px; padding-top: 50px;margin-top: auto;" align="text-center">
      
        <h3 class="mov">is_valid: <i class="mov1"><%= is_valid%></i></h3>
        <h3 class="mov"> is_formatted_properly: <i class="mov1"><%= is_formatted_properly%></i></h3>
        <h3 class="mov">country: <i class="mov1"><%= country%></i></h3>
        <h3 class="mov">location: <i class="mov1"><%= location%></i></h3>
        <h3 class="mov">timezones : <i class="mov1"><%= timezones%></i></h3>
        <h3 class="mov">format_national : <i class="mov1"><%= format_national%></i></h3>
        <h3 class="mov">format_international: <i class="mov1"><%= format_international%></i></h3>
        <h3 class="mov">format_e164 : <i class="mov1"><%= format_e164%></i></h3>
        <h3 class="mov">country_code : <i class="mov1"><%= country_code%></i></h3>
        
        
   </div>   
  </body>
  </html>